[submodule "blt"]
	path = blt
	url = https://github.com/LLNL/blt.git
[submodule "include/camp"]
	path = tpl/camp
	url = https://github.com/llnl/camp
[submodule "scripts/radiuss-spack-configs"]
	path = scripts/radiuss-spack-configs
	url = https://github.com/LLNL/radiuss-spack-configs
[submodule "scripts/uberenv"]
	path = scripts/uberenv
	url = https://github.com/LLNL/uberenv.git
[submodule "tpl/desul"]
	path = tpl/desul
	url = https://github.com/desul/desul.git
