jobs:
- job: Windows 
  strategy:
    matrix:
      shared:
        SHARED_ARGS: '-DBUILD_SHARED_LIBS=On'
###########################
## Windows static build is run on GitHub Actions
##    static:
##      SHARED_ARGS: '-DBUILD_SHARED_LIBS=Off'
  pool:
    vmImage: 'windows-2019'
  variables:
    CMAKE_EXTRA_FLAGS: '-DRAJA_ENABLE_WARNINGS_AS_ERRORS=Off -DBLT_CXX_STD="" -DCMAKE_CXX_STANDARD=17'
  steps:
  - checkout: self
    clean: boolean
    submodules: recursive
  - task: CMake@1
    inputs:
      workingDir: 'build'
      cmakeArgs: '$(CMAKE_EXTRA_FLAGS) $(SHARED_ARGS) ../'
  - task: CMake@1
    inputs:
      workingDir: 'build'
      cmakeArgs: '--build . --config Release --verbose -j 4'
  - task: CmdLine@2
    inputs:
      script: 'ctest.exe -T test -C Release'
      workingDirectory: 'build'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
- job: Docker
  timeoutInMinutes: 360
  strategy:
    matrix: 
      gcc11:
        docker_target: gcc11
      gcc12:
        docker_target: gcc12
      gcc12_desul:
        docker_target: gcc12_desul
##    clang14_debug:
##      docker_target: clang14_debug
      clang15_desul:
        docker_target: clang15_desul
  pool:
    vmImage: 'ubuntu-latest'
  variables:
    DOCKER_BUILDKIT: '1'
    CMAKE_EXTRA_FLAGS: '-DENABLE_DEVELOPER_BENCHMARKS=On -DENABLE_DEVELOPER_DEFAULTS=On -DCMAKE_CXX_STANDARD=14'
  steps:
  - checkout: self
    clean: boolean
    submodules: recursive
  - task: Docker@1
    inputs:
      command: build
      dockerFile: 'Dockerfile'
      arguments: '--target $(docker_target)'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
- job: Mac 
  pool:
    vmImage: 'macOS-latest'
  variables:
    CMAKE_EXTRA_FLAGS: '-DENABLE_OPENMP=Off'
  steps:
  - checkout: self
    clean: boolean
    submodules: recursive
  - task: CMake@1
    inputs:
      workingDir: 'build'
      cmakeArgs: '$(CMAKE_EXTRA_FLAGS) ../'
  - script: |
      cd build
      make -j 4
    displayName: 'OSX Build'
    condition: eq( variables['Agent.OS'], 'Darwin')
  - script: |
      cd build
      ctest -T test --output-on-failure
    displayName: 'OSX Test'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
